<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="version 1">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">tests/v1</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="REMOTE_ADDR" value="192.168.50.50"/>
    </php>
</phpunit>
